*/.DS_Store
ImageAnalysis/saved_photos
ChickenCamera/config/defaults.py
**/*.jpg
ChickenCamera/LeNet.py
ImageAnalysis/imagenet
*/__pycache__
ChickenCamera/test_model
ChickenCamera/train_plot.png
ChickenCamera/*.cnn
